.sell-form{
    background-color: #FBF3E4;
    width:37vw;
    display: flex;
    justify-content: center;
    /* right:3vw; */
    border-radius: 2rem;
    padding:3rem;
    padding-right: 0rem;
}

.sell-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:3vh;
    left:30vw;
    /* width:100vw; */
}

.sell-container h1{
    padding-bottom: 2rem;
    color:white;
}